databases:
  - name: lovejoy
    databaseName: lovejoy
    user: root

services:
  - type: web
    name: lovejoy-evaluation
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn lovejoy.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: lovejoy
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4